# Игнорировать исполняемые файлы
*.exe
*.out

# Игнорировать HTML-дампы
bazaraki.html

# Игнорировать логи
*.log

# Игнорировать CSV/JSON
*.csv
# *.json

# Игнорировать временные файлы редакторов
*.swp
.DS_Store